<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>School:</b>
  <%= @student.school %>
</p>

<p>
  <b>City:</b>
  <%= @student.city %>
</p>

<p>
  <b>State:</b>
  <%= @student.state %>
</p>

<p>
  <b>Instructor:</b>
  <%= @student.instructor.last_name %>
</p>

<p>
  <b>Grad year:</b>
  <%= @student.grad_year %>
</p>
<p>
  <b>Email:</b>
  <%= @student.email %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
