<p class="notice"><%= notice %></p>
<h1 style="color:chartreuse">Welcome to This Can't Be True</h1>
<h2>Stories</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Synopsis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= link_to story.author.last_name, story.author %></td>
    <td><%= story.synopsis %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%#= link_to 'Edit', edit_story_path(story) %></td>
    <td><%#= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
